@model OroCampo.WebSite.Models.BlogPosts.IndexModel

<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h3>Φωτογραφίες</h3>
        </div>
    </div>
</section>



