@model OroCampo.WebSite.Models.PhotoCategoryModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron margin-top-25">
    <h1 class="display-4">Κατηγορίες φωτογραφίας</h1>
    <p class="lead">Εδώ μπορείτε να προσθέσετε μία νέα κατηγορία φωτογραφίας ή να διαγράψετε μία υπάρχουσα αν αυτή δεν χρησιμοποιείται.</p>
    <hr class="my-4">
    <p>Πληκτρολογήστε το όνομα της νέας κατηγορίας και πατήστε το κουμπί "Εισαγωγή" για να την προσθέσετε. Αν τώρα θέλετε να διαγράψετε μια κατηγορία πατήστε το κουμπί "Διαγραφή" δίπλα σε κάθε γραμμή κατηγορίας παρακάτω.</p>
    <hr class="my-4">
    @using (Html.BeginForm("SavePhotoCategory", "Admin", FormMethod.Post, new { @class = "form-inline", role = "form", id = "saveProgramForm" }))
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <label for="photoCategoryName">Όνομα νέας φωτογραφίας</label>
            @Html.TextBoxFor(m => m.NewPhotoCategoryName, new { id = "photoCategoryName", @class = "form-control", @required = "required" })
        </div>

        <button type="submit" class="btn btn-success">Εισαγωγή</button>
    }
</div>

@if (Model.PhotoCategories != null && Model.PhotoCategories.Any())
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th class="text-center" scope="row">Id</th>
            <th class="text-center" scope="col">Όνομα κατηγορίας</th>
            <th class="text-center" scope="col">Ενέργιες</th>
        </tr>
        </thead>
        <tbody>

        @for (int i = 0; i < Model.PhotoCategories.Count; i++)
        {
            var temp = Model.PhotoCategories[i];

            <tr>
                <th class="text-center" scope="row">@i</th>
                <td class="text-center">@temp.Name</td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger">Διαγραφή</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}
else
{
    <div class="jumbotron margin-top-25">
        <h2 class="text-center">Δεν υπάρχουν κατηγορίες φωτογραφιών</h2>
    </div>
}