@{
    ViewBag.Title = "About";
}
<!--================Banner Area =================-->
<section class="banner_area">
    <div class="container">
        <div class="banner_content">
            <h3>Σχετικά με εμάς</h3>
        </div>
    </div>
</section>
<!--================End Banner Area =================-->
<!--================Our About Area =================-->
<section class="our_about_area">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="our_about_left_content">
                    <div class="section_title">
                        <h2>Our Mission</h2>
                    </div>

                    <p>Ipsum is simply text of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply text of the. Lorem Ipsum is  simply  text of the stry simply dummy text of the printing and text of the stry simply dummy text of the printing and typesetting industry.</p>
                    <p>Lorem Ipsum is simply text of the. Lorem Ipsum is  simply  text of the stry stext of the stry simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply text of the. Lorem Ipsum is  simply  text of the stry Lorem Ipsum is simply text of the. </p>
                    <p>
                        Ruis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu id etx ea  quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo. nim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliqu. Ruis nostrum exercitationem ullam corporis suscipit laboriosam.
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="our_about_image">
                    <img src="~/Theme/img/about-right-1.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Our About Area =================-->


<section id="our-team-construct">
    <div class="container">
        <div class="sec_middle_title">
            <h2>Our dedicated team</h2>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="single-construct-member">
                    <div class="content hvr-bounce-to-top">
                        <div class="img-holder">
                            <img src="img/team/5.png" alt="">
                        </div>
                        <h2>Hendrick jack</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /col -->
            <div class="col-md-3">
                <div class="single-construct-member">
                    <div class="content hvr-bounce-to-top">
                        <div class="img-holder">
                            <img src="img/team/6.png" alt="">
                        </div>
                        <h2>Hendrick jack</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /col -->
            <div class="col-md-3">
                <div class="single-construct-member">
                    <div class="content hvr-bounce-to-top">
                        <div class="img-holder">
                            <img src="img/team/7.png" alt="">
                        </div>
                        <h2>Hendrick jack</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /col -->
            <div class="col-md-3">
                <div class="single-construct-member">
                    <div class="content hvr-bounce-to-top">
                        <div class="img-holder">
                            <img src="img/team/8.png" alt="">
                        </div>
                        <h2>Hendrick jack</h2>
                        <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia con</p>
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div><!-- /col -->

        </div>
    </div>
</section>